body, html{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    width: 1000px;
    padding: 10px;
    border: 1px solid white;
}

header, nav, section, footer{
    border: 1px solid gray;
}

h1{
    width: 700px;
    float: left;
}

#header-img{
    float: right;
    border:1px solid purple;
}