body, html{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    width: 1000px;
    padding: 10px;
    border: 1px solid white;
}

header, nav, section, footer{
    border: 1px solid gray;
    width: 100%;
}

header{
    height: 130px;
}

h1{
    width: 700px;
    float: left;
    line-height: 130px;
}

#header-img{
    float: left;
    border:1px solid purple;
    justify-content: right;
}

ul{
    list-style: none;
}